mat-card {
    width: 80%;
    margin: 100px auto 0 auto;
    padding: 20px 0;
}

th {
    font-weight: 700 !important;
}

mat-card-header {
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

button {
    margin: 5px;
}
