<form [formGroup]="setPasswordFrom" (ngSubmit)="setPassword()">
    <mat-card>
        <h1>Set Password</h1>
        <mat-card-content>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Email</mat-label>
                <input formControlName="email" type="text" matInput>

                <mat-error *ngIf="setPasswordFrom.get('email')?.touched && setPasswordFrom.get('email')?.hasError('required')">
                    <b>Email </b> is required
                </mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>password</mat-label>
                <input formControlName="pass1" type="password" matInput>

                <mat-error *ngIf="setPasswordFrom.get('pass1')?.touched && setPasswordFrom.get('pass1')?.hasError('required')">
                    <b>Password </b> is required
                </mat-error>
            </mat-form-field>
            
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>password</mat-label>
                <input formControlName="pass2" type="password" matInput>

                <mat-error *ngIf="setPasswordFrom.get('pass2')?.touched && setPasswordFrom.get('pass2')?.hasError('required')">
                    <b>Password </b> is required
                </mat-error>
                
                <mat-error *ngIf="setPasswordFrom.get('pass2')?.touched && setPasswordFrom.get('pass2')?.hasError('PasswordMatchError')">
                    <b>Password </b> must match
                </mat-error>
            </mat-form-field>
    
            <mat-card-actions class="btn">
                <button mat-raised-button color="primary">Set Password</button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
</form>